*{
    padding: 0;
    margin: 0;
    font-size: 12px;
}
body{
    font-family: "Noto Sans KR",'Noto Sans',sans-serif;
}
body h2{
    text-align: center;
    font-size: 25px;
    color: #424242;
    font-weight: bold;
    padding-bottom: 20px;
}
body h3{
    font-size: 20px;
    color: #574a48;
    font-weight: bold;
}
a:visited,a:link{
    text-decoration: none;
    color: inherit;
}

.wrap{
    width: 1048px;
    margin: 0 auto;
}
.header{
    box-shadow:  1px 1px 10px #ebebeb;
}
.header_top{
    background-color: #ebebeb;
    color: #444;
    border-bottom: 2px solid #8a8a8a;
}
.header_top>.wrap{
    position: relative;
    height: 71px;
}

.header_top>.wrap .header_top_link{
    position: absolute;
    bottom: -4px;
    z-index: 1;
}
.header_top>.wrap .header_top_menu{
    position: absolute;
    right: 0px;
    bottom: 10px;
    font-size: 14px;
    color: #404040;
}
.header_top>.wrap .header_top_menu>a:last-child{
    color: #e6002d;
}




.header_main{
    height: 114px;
    display: flex;
    justify-content: space-between;
}
#logo{
    padding-top: 39.5px;
}
.on{
    display: block;
}
.search_box{
    margin: 35px 0;
    width: 314px;
    border-bottom: #e6002d solid 3px;
}
.search_box input{
    width: 290px;
    height: 35px;
    border: none;
}
.fa-magnifying-glass{
    color: red;
    cursor: pointer;
}




#subnavi{
    width: 425px;
    padding-top: 46.5px;
    font-size: 18px;
}
#subnavi>div{
    float: left;
    padding-left: 15px;
    font-weight: bold;
}
nav{
    height: 55px;
}
#allMenuBtn a{
    display: block;
    width: 168px;
    font-size: 20px;
    height: 55px;
    line-height: 55px;

    
}
#header_bottom{
    display: flex;
    justify-content: space-between;
}

#gnb{
    width: 877px;
    display: flex;
    justify-content: space-around;
}
#gnb a{
    display: block;
    font-size: 19px;
    height: 55px;
    font-weight: bold;
    line-height: 55px;
    
}
.border{
    width: 100%;
    border: 1px solid #eee;
}

/* 전체메뉴 테이블 */
.allMenu{
    display: none;
    position: relative;
    overflow-y:scroll;
    height: 750px;
    width: 110%;
    background-color: white;
    z-index: 1;
}
.allMenu table{
    border: 1px solid black;
    width: 100%;
}
.allMenu caption{
    display: none;
}


.allMenu td{
    border-right: dotted 1px black;
}
.allMenu dt{
    font-weight: bold;
    padding: 0 0 13px;
    font-size: 12px;
}
.allMenu dd{
    color: #666;
    width: 135.56px;
    padding: 0 0 8px;
}
.allMenu dl{
    padding: 20px 0 7px 16px;
}
.allMenu tr{
    /* display: flex; */
    /* justify-content: space-around; */
    font-size: 11px;
    text-align: center;
}
.allMenu_close{
    position: absolute;
    top: 50%;
    right: 10px;
    border: 1px solid #666;
    width: 20px;
    height: 20px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

/* 상단에 메뉴 붙이기 */
.sub_header{
    height: 55px;
    box-shadow:  1px 1px 10px #ebebeb;
}
.sub_header>.wrap{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
.sub_header>.wrap .sub_header_l{
    display: flex;
    align-items: center;
    color: red;
}
.sub_header>.wrap .sub_icon{
    font-size: 1.6rem;
    padding-right: 10px;
}
.sub_header>.wrap>.sub_header_r{
    display: flex;
}
.sub_header>.wrap>.sub_header_r i{
    color: #8a8a8a;
}
.sub_header>.wrap .sub_search_box{
    width: 314px;
    border-bottom: #e6002d solid 3px;
}
.sub_header>.wrap .sub_search_box input{
    width: 290px;
    height: 35px;
    border: none;
}
.jbFixed {
    position: fixed;
    top: 0px;
    z-index: 99;
    background-color: #fff;
    width: 100%;
}


/* 메인슬라이드 */
.mainSlide{
    display: block;
    position: relative;
    height: 428px;
    width: 100%;
    margin-bottom: 20px;
}
.mainSlide>div{
    display: none;
    position: absolute;
}
.mainSlide>div:first-child{
    display: block;
}


.main_bottom{
    display: flex;
    justify-content: space-around;
    height: 46px;
    margin: 0 auto;
    width: 1048px;
    
}
.main_bottom>ul{
    display: flex;
    width: 896px;
    justify-content: space-around;
    border: 1px solid #eee;
}
.main_bottom>ul>li{
    position: relative;
    width: 149.333px;
    border-right: 1px solid #eee;
}
.main_bottom li{
    height: 46px;
    line-height: 46px;
    text-align: center;
}
.main_bottom>ul>li>ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.main_bottom>ul>li>ul>li{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.main_bottom>ul>li>ul>li>a{
    width: 100%;
}

.main_bottom>ul>li>ul>li>a:hover{
    border-bottom: solid 3px red;
}


.slide_btn{
    width: 150px;
    background-color: rgba(152,151,143,0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fa-solid{
    cursor: pointer;
}
.numbering{
    display: flex;
    justify-content: space-around;
}

.slide_play{
    display: none;
}
.mv_btn{
    cursor: pointer;
}
.depot_service{
    padding-top: 60px;
    width: 100%;
}

.depot_service>div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-spacing: 0px;
}
.depot_service>div>div:hover{
    border:1px solid #de7676;
}


/* HOT 추천 상품 */
.hot_item{
    padding-top: 40px;
    position: relative;
}
.hot_item .item{
    /* height: 633px; */
    display: flex;
    justify-content: space-between;
}
.hot_item>.item p{
    color: #574a48;

}
.hot_item .column1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hot_item .column2{
    display: flex;
    flex-direction: column;
}
.hot_item .column3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.hot_more{
    position: absolute;
    top: 30px;
    right: 0;
}


/* footer 영역 시작 */
footer{
    padding-top: 60px;
}
.footer_menu{
    background-color: #ebebeb;
    height: 52px;
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
}
.footer_menu a{
    padding-right: 6px;
}
.footer_menu .wrap{
    display: flex;
    justify-content: space-between;
}
.footer_menu_l{
    display: flex;
    justify-content: space-between;
    /* width: 236px; */
    color: #444;
    font-size: 12px;
    height: 52px;
    align-items: center;
}
.footer_menu_r{
    /* width: 433px; */
    display: flex;
    justify-content: space-around;
    color: #de7676;
    font-size: 12px;
    height: 52px;
    align-items: center;
}
.footer_bottom{
    padding: 30px 0;
    height: 181px;
    display: flex;
}
.footer_bottom .footer_logo{
    display: flex;
    height: 181px;
    align-items: center;
}
.footer_bottom .fr{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    height: 181px;
    justify-content: center;
}

.footer_bottom .fr>div>p{
    font-size: 38px;
    color: #3b5f80;
    font-weight: 700;
}
.footer_bottom .fr>div{
    display: flex;
    align-items: center;
}
.footer_fr_menu>a{
    border: 1px solid black;
    margin-right: 3px;
    font-size: 12px;
    font-weight: 500;
    padding: 0 20px;
    line-height: 25px;
}
footer .fr address{
    color: #616161;
    font-size: 13px;
    margin-top: 10px;
    line-height: 1.4;
}
footer .fr address a{
    text-decoration: underline;
    
}
.copy{
    text-align: center;
    padding-bottom: 80px;
}

/* 메인 index.html 끝 */

/* 회원가입 폼 시작 */

section .wrap>.sub_navi{
    display: flex;
    padding-top: 30px;
}
section .wrap>.sub_navi>div{
    padding-right: 5px;
    font-size: 12px;
    color: #444;
}
section .join_wecome{
    text-align: center;
    padding: 50px 0;
}
section .join_desr{
    text-align: center;
    padding: 30px 0;
}
section .join_form{
    text-align: center;
    padding-top: 20px;
}


section .join_form #tab>ul{
    display: flex;
    justify-content: center;
}
section .join_form #tab>ul>li>p{
    cursor: pointer;
    display: block;
    background-color: #ececec;
    color: #666;
    width: 510px;
    height: 42px;
    font-size: 18px;
    line-height: 42px;
    border: 1px solid #fff;
    border-bottom: 1px solid #333;
}
section .join_form #tab>ul>li>p.on{
    background-color: #fff;
    border: 1px solid #333;
    border-bottom: 1px solid #fff;
}
#tab_contents{
    margin: 0 auto;
    border: #333 solid 1px;
    border-top: #fff solid 1px;
    width: 1020px;
    height: 411px;
}
#tab_contents>ul>.personal{
    display: flex;
    justify-content: space-around;
}



/* 회원가입 개인회원 폼 */
#tab_contents>ul .company{
    display: none;
}
#tab_contents>ul>li .inner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 500px;
    height: 352px;
    background-color: #f6f6f6;
}
#tab_contents>ul>li .inner>.txtBox{
    padding-left: 30px;
}
#tab_contents>ul>li .inner>.txtBox>a{
    background-color: #494949;
    border-radius: 15px;
    width: 190px;
    line-height: 25px;
    font-size: 16px;
    color: #fff;
    padding: 5px 10px;
}
#tab_contents>ul>li .inner>.txtBox>dl{
    padding-bottom: 20px;
    font-size: 20px;
    color: #494949;
}
#tab_contents>ul>li .inner>.txtBox>dl>dt{
    padding: 20px 0;
    font-weight: bold;
    border-bottom: 1px solid black;
    font-size: 18px;
}
#tab_contents>ul>li .inner>.txtBox>dl>dd{
    padding: 10px 0;
}

/* 회원가입 기업회원 폼 */
#tab_contents>ul .company>dl{
    display: block;
    padding: 20px 0;
}
#tab_contents>ul .company>dl{
    display: flex;
    justify-content: center;
    align-items: center;
}
#tab_contents>ul .company>dl>dt{
    font-size: 18px;
}
#tab_contents>ul .company>dl input{
    height: 30px;
}
#tab_contents>ul .company>dl a{
    display: inline-block;
    font-size: 14px;
    background: #494949;
    color: #fff;
    border-radius: 10px;
    width: 115px;
    height: 28px;
    line-height: 28px;

}



#tab_contents>ul .company>ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


#tab_contents>ul .company>ul>li>dl{
    height: 128px;
    width: 500px;
    position: relative;
}
#tab_contents>ul .company>ul>li>dl>div:last-child{
    float: left;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 2;
}
#tab_contents>ul .company>ul>li>dl>.company_wrap{
    border:  1px solid #cbcbcb;
    background-color: #ececec;
    height: 110px;
    display: flex;
    text-align: left;
    padding: 20px;
    flex-direction: column;
    justify-content: space-around;
    font-size: 12px;
    color: #494949;
}
#tab_contents>ul .company>ul>li>dl>.company_wrap>dt{
    font-size: 20px;
}

/* 회원가입 bottom */
.join_bottom>.certify_warp{
    padding: 30px;
    display: flex;
}
.join_bottom>.certify_warp>span{
    color: #777;
    font-size: 20px;
    font-weight: bold;
}
.join_bottom>.certify_warp>dl{
    padding-left: 20px;
    display: flex;
}
.join_bottom>.certify_warp>dl>dt{
    height: 28px;
    line-height: 28px;
    font-size: 20px;
    padding-right: 10px;
}
.join_bottom>.certify_warp>dl input{
    height: 28px;
}
.join_bottom>.certify_warp>dl a{
    display: inline-block;
    height: 28px;
    line-height: 28px;
    width: 101px;
    background-color: #494949;
    text-align: center;
    color: #fff;
    border-radius: 10px;
}
#moblie_header,.main>.m_slide,.m_header_bottom{
    display: none;
}
/* 사이즈 769px 테블릿 버전 */


@media all and ( max-width: 769px ){
    .wrap{
        width: 755px;
        margin: 0 auto;
    }
    #moblie_header{
        display: block;
        z-index: 99;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        width: 100%;
    }
    .main>.m_slide{
        display: block;
    }
    .header , .sub_header, .main_bottom,.sub_header{
        display: none;
    }
    #moblie_header .m_header_top{
        height: 60px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #fff;
    }
    #moblie_header .m_header_top>i{
        font-size: 50px;
    }
    #moblie_header>.m_header_top #m_logo{
        width: 120px;
        height: 21px;
    }
    .m_header_bottom{
        display: block;
        width: 100%;
        padding-top: 60px;
    }
    .m_header_bottom>.open{
        text-align: center;
        width: calc(100% - 40px);
        height: 36px;
        position: relative;
        border-radius: 3px;
        text-align: left;
        background-color: #fff;
        border: 1px solid red;
    }
    .m_header_bottom>.open>i{
        padding-left: 10px;
        font-size: 15px;
        color: #888;
    }
    .m_header_bottom>.open>.search_placeholder{
        text-align: center;
        color: #333;
        font-size: 13px;
        display: inline-block;
        width: calc(100% - 70px);
    }
    #m_header_bottom_menu{
    display: flex;
    justify-content: space-around;
    width: 100%;
    }
    #m_header_bottom_menu>li{
        width: 100%;
    }
    #m_header_bottom_menu a{
        text-align: center;
        display: block;
        height: 35px;
        line-height: 35px;
        width: 100%;
        font-size: 12px;
    }
    #m_header_bottom_ranking{
        position: relative;
    }
    #m_header_bottom_ranking .ir{
        position: absolute;
        top: -30px;
        height: 20px;
        width: 20px;
        left: 50%;
        z-index: 9;
        border: none;
        background-color: #fff;
        font-size: 20px;
        color: #cbcbcb;
    }
    #m_header_bottom_ranking .ranking_search{
        display: flex;
        justify-content: space-around;
    }
    #m_header_bottom_ranking .ranking_search input{
        width: 85%;
        border: none;
        border-bottom: #333 solid 1px;
    }
    #m_header_bottom_ranking #ranking_btn{
        border: none;
        padding-left: 10px;
    }
    #m_header_bottom_ranking .fa-magnifying-glass{
        background-color: #666;
        color: #fff;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    #m_header_bottom_ranking .taking_tab{
        
    }



    
    .mainSlide{
        display: none;
    }
    .main>.m_slide{
        position: relative;
        height: 403px;
    }
    .main>.m_slide img{
        width: 100%;
    }
    .main>.m_slide>div{
        position: absolute;
        /* display: none; */
    }
    .main>.m_slide>div:first-child{
        display: block;
    }

    .main>.wrap>.depot_service>h2{
        display: none;
    }
    .main>.wrap>.depot_service>div{
    width: 90%;
    margin: 0 auto;
    justify-content: space-evenly;
    }

    .hot_item>.item{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .hot_item>.item>div{
        width: 490px;
        text-align: center;
    }
    .hot_item>.item>div img{
        padding-top: 30px;
        width: 490px;
    }
    .hot_more{
        right: 40px;
    }
    
}